.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #0277bd; 
  border-radius: 4px;
  background: #0277bd; 
  color: white; 
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #01579b; /* Darker blue on hover/active */
  border-color: #01579b;
}

.button--inverse {
  background: transparent;
  color: #0277bd; /* Deep blue for inverse button */
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #0277bd; /* Deep blue background for hover/active inverse */
}

.button--danger {
  background: #830000; /* Red background for danger button */
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343; /* Lighter red on hover/active */
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
